#main {
    margin-left:30px;
    margin-top:0px;
    margin-right:30px;
    margin-bottom:0px;
    border:2px solid #000;
    border-radius: 5px;
    height:100%;
    overflow:hidden;
    background: #F0F8FF;
  }

.hidden {
    display: none;
}

.graticule {
    fill: none;
    stroke: #bbb;
    stroke-width: .5px;
    stroke-opacity: .5;
}

.equator {
    stroke: #ccc;
    stroke-width: 1px;
}

.tooltip {
    position: absolute;
    width: 200px;
    height: 28px;
    pointer-events: none;
}

.tooltip .tooltip-inner {
    background-color: #999;
}

.slider-handle.round {
    background-image: linear-gradient(to bottom,#979797 0,#707070 100%);
}

label {
    font-size: 13px;
    font-weight: bold;
    color: #555;
    padding: 2px;
}

.legend circle {
    stroke: #555;
}

.legend text {
    font-family: "Open Sans";
    font-size: 12px;
    fill: #555;
}
